[Desktop Entry]
Encoding=UTF-8
Name=HTH
Comment=HTH P2P Cryptocurrency
Exec=hth-qt %u
Terminal=false
Type=Application
Icon=hth128
MimeType=x-scheme-handler/hth;
Categories=Office;Finance;
Name[en_US]=hth-qt.desktop
