[Desktop Entry]
Encoding=UTF-8
Name=Reden
Comment=Reden P2P Cryptocurrency
Exec=reden-qt %u
Terminal=false
Type=Application
Icon=reden128
MimeType=x-scheme-handler/reden;
Categories=Office;Finance;
Name[en_US]=reden-qt.desktop
